In [1]:
import numpy as np
import pandas as pd 
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [4]:
df.info

<bound method DataFrame.info of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [8]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [11]:
def converter(species):
    if species=='setosa':
      return 0
    elif species=='versicolor':
      return 1
    elif species=='virginica':
      return 2

In [12]:
df['new_species']=df['species'].apply(converter)

In [15]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
new_species     0
dtype: int64

In [17]:
df.drop(columns='species',inplace=True)

In [18]:
df

     sepal_length  sepal_width  petal_length  petal_width  new_species
0             5.1          3.5           1.4          0.2            0
1             4.9          3.0           1.4          0.2            0
2             4.7          3.2           1.3          0.2            0
3             4.6          3.1           1.5          0.2            0
4             5.0          3.6           1.4          0.2            0
..            ...          ...           ...          ...          ...
145           6.7          3.0           5.2          2.3            2
146           6.3          2.5           5.0          1.9            2
147           6.5          3.0           5.2          2.0            2
148           6.2          3.4           5.4          2.3            2
149           5.9          3.0           5.1          1.8            2

[150 rows x 5 columns]

In [49]:
X=df.drop(labels='new_species',axis=1)
y=df[['new_species']]

In [50]:
y

     new_species
0              0
1              0
2              0
3              0
4              0
..           ...
145            2
146            2
147            2
148            2
149            2

[150 rows x 1 columns]

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [51]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(120, 4)
(120,)
(30, 4)
(30,)

In [29]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier( criterion='gini')
model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [52]:
y_pred_train = model.predict(X_train)  
len(y_pred_train)

120

In [54]:
y_pred_test = model.predict(X_test)  
len(y_pred_test)

30

In [34]:
from sklearn.metrics import accuracy_score
print('Accuracy score for train data is:', accuracy_score(y_train,y_pred_train))
print('Accuracy score for test data is:', accuracy_score(y_test,y_pred_test))

Accuracy score for train data is: 1.0
Accuracy score for test data is: 0.9666666666666667

In [63]:
from sklearn.metrics import confusion_matrix
print('Confusion Matrix for the training dataset is: ')
confusion_matrix = pd.DataFrame(confusion_matrix(y_train, y_pred_train))

confusion_matrix.index = ['Actual setosa','Actual versicolor','Actual virginica']
confusion_matrix.columns = ['Predicted setosa','Predicted versicolor','Predicted virginica']
print(confusion_matrix)

Confusion Matrix for the training dataset is:
                   Predicted setosa  Predicted versicolor  Predicted virginica
Actual setosa                    39                     0                    0
Actual versicolor                 0                    37                    0
Actual virginica                  0                     0                   44

In [36]:
from sklearn.metrics import confusion_matrix

confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))

confusion_matrix.index = ['Actual setosa','Actual versicolor','Actual virginica']
confusion_matrix.columns = ['Predicted setosa','Predicted versicolor','Predicted virginica']
print(confusion_matrix)

                   Predicted setosa  Predicted versicolor  Predicted virginica
Actual setosa                    11                     0                    0
Actual versicolor                 0                    12                    1
Actual virginica                  0                     0                    6

In [37]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

decision_tree_classifier = DecisionTreeClassifier(random_state = 0)


tree_para = [{'criterion':['gini','entropy'],'max_depth': range(2,60),
                             'max_features': ['sqrt', 'log2', None] }]
                            
                            

grid_search = GridSearchCV(decision_tree_classifier,tree_para, cv=10, refit='AUC')
grid_search.fit(X_train, y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=0, splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid=[{'criterion': ['gini', 'entropy'],
                          'max_depth': range(2, 60),
                          'max_features': ['sqrt', 'log2', None]}],
             pre_dispatch='2*n_jobs', refit='AUC', return_train_score=False,
             scoring=None, verbose=0)

In [38]:
y_pred_test1 = grid_search.predict(X_test)
y_pred_train1 = grid_search.predict(X_train)

In [39]:
from sklearn.metrics import accuracy_score
print('Accuracy score for train data is:', accuracy_score(y_train,y_pred_train1))
print('Accuracy score for test data is:', accuracy_score(y_test,y_pred_test1))

Accuracy score for train data is: 0.9583333333333334
Accuracy score for test data is: 0.9666666666666667

In [40]:
from sklearn.metrics import confusion_matrix

confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test1))

confusion_matrix.index = ['Actual setosa','Actual versicolor','Actual virginica']
confusion_matrix.columns = ['Predicted setosa','Predicted versicolor','Predicted virginica']
print(confusion_matrix)

                   Predicted setosa  Predicted versicolor  Predicted virginica
Actual setosa                    11                     0                    0
Actual versicolor                 0                    12                    1
Actual virginica                  0                     0                    6

In [60]:
newcolumns=X_train.join(y_train)
newcolumns['Predicted']=y_pred_train
newcolumns.head(45)

,sepal_length,sepal_width,petal_length,petal_width,new_species,Predicted
91,6.1,3.0,4.6,1.4,1,1
135,7.7,3.0,6.1,2.3,2,2
69,5.6,2.5,3.9,1.1,1,1
128,6.4,2.8,5.6,2.1,2,2
114,5.8,2.8,5.1,2.4,2,2
48,5.3,3.7,1.5,0.2,0,0
53,5.5,2.3,4.0,1.3,1,1
28,5.2,3.4,1.4,0.2,0,0
54,6.5,2.8,4.6,1.5,1,1
108,6.7,2.5,5.8,1.8,2,2
112,6.8,3.0,5.5,2.1,2,2
17,5.1,3.5,1.4,0.3,0,0
119,6.0,2.2,5.0,1.5,2,2
103,6.3,2.9,5.6,1.8,2,2
58,6.6,2.9,4.6,1.3,1,1
118,7.7,2.6,6.9,2.3,2,2
18,5.7,3.8,1.7,0.3,0,0
4,5.0,3.6,1.4,0.2,0,0
45,4.8,3.0,1.4,0.3,0,0
59,5.2,2.7,3.9,1.4,1,1
39,5.1,3.4,1.5,0.2,0,0
36,5.5,3.5,1.3,0.2,0,0
117,7.7,3.8,6.7,2.2,2,2
139,6.9,3.1,5.4,2.1,2,2
107,7.3,2.9,6.3,1.8,2,2
132,6.4,2.8,5.6,2.2,2,2
126,6.2,2.8,4.8,1.8,2,2
85,6.0,3.4,4.5,1.6,1,1
122,7.7,2.8,6.7,2.0,2,2
95,5.7,3.0,4.2,1.2,1,1
11,4.8,3.4,1.6,0.2,0,0
113,5.7,2.5,5.0,2.0,2,2
123,6.3,2.7,4.9,1.8,2,2
12,4.8,3.0,1.4,0.1,0,0
2,4.7,3.2,1.3,0.2,0,0
104,6.5,3.0,5.8,2.2,2,2
6,4.6,3.4,1.4,0.3,0,0
127,6.1,3.0,4.9,1.8,2,2
110,6.5,3.2,5.1,2.0,2,2
65,6.7,3.1,4.4,1.4,1,1
55,5.7,2.8,4.5,1.3,1,1
144,6.7,3.3,5.7,2.5,2,2
138,6.0,3.0,4.8,1.8,2,2
46,5.1,3.8,1.6,0.2,0,0
62,6.0,2.2,4.0,1.0,1,1

In [66]:
from sklearn.metrics import confusion_matrix

confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))

confusion_matrix.index = ['Actual setosa','Actual versicolor','Actual virginica']
confusion_matrix.columns = ['Predicted setosa','Predicted versicolor','Predicted virginica']
print(confusion_matrix)

                   Predicted setosa  Predicted versicolor  Predicted virginica
Actual setosa                    11                     0                    0
Actual versicolor                 0                    12                    1
Actual virginica                  0                     0                    6

In [64]:
newcolumns1=X_test.join(y_test)
newcolumns1['Predicted']=y_pred_test
newcolumns1.head(30)

,sepal_length,sepal_width,petal_length,petal_width,new_species,Predicted
14,5.8,4.0,1.2,0.2,0,0
98,5.1,2.5,3.0,1.1,1,1
75,6.6,3.0,4.4,1.4,1,1
16,5.4,3.9,1.3,0.4,0,0
131,7.9,3.8,6.4,2.0,2,2
56,6.3,3.3,4.7,1.6,1,1
141,6.9,3.1,5.1,2.3,2,2
44,5.1,3.8,1.9,0.4,0,0
29,4.7,3.2,1.6,0.2,0,0
120,6.9,3.2,5.7,2.3,2,2
94,5.6,2.7,4.2,1.3,1,1
5,5.4,3.9,1.7,0.4,0,0
102,7.1,3.0,5.9,2.1,2,2
51,6.4,3.2,4.5,1.5,1,1
78,6.0,2.9,4.5,1.5,1,1
42,4.4,3.2,1.3,0.2,0,0
92,5.8,2.6,4.0,1.2,1,1
66,5.6,3.0,4.5,1.5,1,1
31,5.4,3.4,1.5,0.4,0,0
35,5.0,3.2,1.2,0.2,0,0
90,5.5,2.6,4.4,1.2,1,1
84,5.4,3.0,4.5,1.5,1,1
77,6.7,3.0,5.0,1.7,1,2
40,5.0,3.5,1.3,0.3,0,0
125,7.2,3.2,6.0,1.8,2,2
99,5.7,2.8,4.1,1.3,1,1
33,5.5,4.2,1.4,0.2,0,0
19,5.1,3.8,1.5,0.3,0,0
73,6.1,2.8,4.7,1.2,1,1
146,6.3,2.5,5.0,1.9,2,2