In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sb 
import matplotlib.pyplot as plt 
%matplotlib inline
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('iris.csv')

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
def converter(species):
    if species=='setosa':
     return 1
    elif species=='versicolor':
     return 2
    elif species=='virginica':
     return 3

In [5]:
df['species_converted'] = df['species'].apply(converter)

In [6]:
df.loc[72:100]

,sepal_length,sepal_width,petal_length,petal_width,species,species_converted
72,6.3,2.5,4.9,1.5,versicolor,2
73,6.1,2.8,4.7,1.2,versicolor,2
74,6.4,2.9,4.3,1.3,versicolor,2
75,6.6,3.0,4.4,1.4,versicolor,2
76,6.8,2.8,4.8,1.4,versicolor,2
77,6.7,3.0,5.0,1.7,versicolor,2
78,6.0,2.9,4.5,1.5,versicolor,2
79,5.7,2.6,3.5,1.0,versicolor,2
80,5.5,2.4,3.8,1.1,versicolor,2
81,5.5,2.4,3.7,1.0,versicolor,2
82,5.8,2.7,3.9,1.2,versicolor,2
83,6.0,2.7,5.1,1.6,versicolor,2
84,5.4,3.0,4.5,1.5,versicolor,2
85,6.0,3.4,4.5,1.6,versicolor,2
86,6.7,3.1,4.7,1.5,versicolor,2
87,6.3,2.3,4.4,1.3,versicolor,2
88,5.6,3.0,4.1,1.3,versicolor,2
89,5.5,2.5,4.0,1.3,versicolor,2
90,5.5,2.6,4.4,1.2,versicolor,2
91,6.1,3.0,4.6,1.4,versicolor,2
92,5.8,2.6,4.0,1.2,versicolor,2
93,5.0,2.3,3.3,1.0,versicolor,2
94,5.6,2.7,4.2,1.3,versicolor,2
95,5.7,3.0,4.2,1.2,versicolor,2
96,5.7,2.9,4.2,1.3,versicolor,2
97,6.2,2.9,4.3,1.3,versicolor,2
98,5.1,2.5,3.0,1.1,versicolor,2
99,5.7,2.8,4.1,1.3,versicolor,2
100,6.3,3.3,6.0,2.5,virginica,3

In [7]:
df.drop(columns='species',axis=1,inplace=True)

In [8]:
df

     sepal_length  sepal_width  petal_length  petal_width  species_converted
0             5.1          3.5           1.4          0.2                  1
1             4.9          3.0           1.4          0.2                  1
2             4.7          3.2           1.3          0.2                  1
3             4.6          3.1           1.5          0.2                  1
4             5.0          3.6           1.4          0.2                  1
..            ...          ...           ...          ...                ...
145           6.7          3.0           5.2          2.3                  3
146           6.3          2.5           5.0          1.9                  3
147           6.5          3.0           5.2          2.0                  3
148           6.2          3.4           5.4          2.3                  3
149           5.9          3.0           5.1          1.8                  3

[150 rows x 5 columns]

In [9]:
X=df.drop(labels='species_converted',axis=1)
y=df['species_converted']

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [11]:
X_train

     sepal_length  sepal_width  petal_length  petal_width
91            6.1          3.0           4.6          1.4
135           7.7          3.0           6.1          2.3
69            5.6          2.5           3.9          1.1
128           6.4          2.8           5.6          2.1
114           5.8          2.8           5.1          2.4
..            ...          ...           ...          ...
133           6.3          2.8           5.1          1.5
137           6.4          3.1           5.5          1.8
72            6.3          2.5           4.9          1.5
140           6.7          3.1           5.6          2.4
37            4.9          3.6           1.4          0.1

[120 rows x 4 columns]

In [12]:
y_train

91     2
135    3
69     2
128    3
114    3
      ..
133    3
137    3
72     2
140    3
37     1
Name: species_converted, Length: 120, dtype: int64

In [13]:
X_test.shape

(30, 4)

In [14]:
y_test

14     1
98     2
75     2
16     1
131    3
56     2
141    3
44     1
29     1
120    3
94     2
5      1
102    3
51     2
78     2
42     1
92     2
66     2
31     1
35     1
90     2
84     2
77     2
40     1
125    3
99     2
33     1
19     1
73     2
146    3
Name: species_converted, dtype: int64

In [15]:
lr=LinearRegression()

In [16]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
y_test_pred=lr.predict(X_test)
y_test_pred

array([0.69829231, 1.86686838, 2.16108098, 0.91468727, 2.84900269,
       2.42786017, 2.7714971 , 1.17706667, 1.05737643, 2.97185548,
       2.25764165, 1.04731024, 2.8939019 , 2.28941615, 2.3716362 ,
       1.02277807, 2.09757468, 2.45955196, 0.97387913, 0.85988458,
       2.29506652, 2.50279788, 2.48564944, 0.94639775, 2.76102557,
       2.20428688, 0.83232053, 0.99535805, 2.26764385, 2.66319295])

In [18]:
y_train_pred=lr.predict(X_train)
y_train_pred

array([2.33550726, 2.92864693, 2.05715527, 2.94294753, 3.05416352,
       0.90160256, 2.20725743, 0.885798  , 2.29525323, 2.7928614 ,
       2.8261478 , 0.95793053, 2.52744744, 2.81873745, 2.17688289,
       3.18819717, 0.93193179, 0.93189177, 1.01567978, 2.29375191,
       0.9405767 , 0.78919731, 3.08988714, 2.77279302, 2.83459807,
       2.99203318, 2.57369055, 2.42784148, 2.97747658, 2.19120482,
       1.03860132, 2.84201635, 2.5837994 , 0.91750848, 0.9579092 ,
       3.03956955, 1.0646214 , 2.6313171 , 2.7121559 , 2.14088195,
       2.33690985, 3.11469663, 2.61978431, 0.97942814, 1.95046175,
       2.12066158, 2.74375972, 1.93602506, 3.30065569, 2.21010528,
       0.8799796 , 0.97955084, 0.87983557, 2.91835402, 1.01993022,
       2.61680846, 2.74388507, 2.7408745 , 0.92037767, 1.15272122,
       2.03398304, 0.93046519, 2.79432535, 2.1639075 , 3.0178773 ,
       2.84647483, 2.16689673, 3.02659681, 3.14347658, 2.06155505,
       0.92324951, 2.06584286, 1.03742544, 2.04419856, 2.3125004 ,
       1.0935267 , 2.24761019, 1.19312193, 1.13806855, 3.12037099,
       2.83475534, 3.05978992, 0.92761999, 1.04301978, 2.64425512,
       1.04441972, 2.80731133, 1.03432954, 2.74246379, 2.70196435,
       1.0126879 , 2.9473473 , 0.92615604, 2.22875769, 1.05166204,
       1.96195717, 1.99806477, 0.90884488, 0.94497117, 1.95907195,
       0.88576063, 2.29521586, 2.36723908, 0.96219966, 2.28943483,
       2.23886655, 2.31842281, 2.17690423, 2.80731133, 0.94201931,
       0.9896597 , 2.66136899, 2.0846393 , 2.59369493, 1.85524762,
       2.50427786, 2.7668066 , 2.4336946 , 3.02960738, 0.90442907])

In [19]:
print('The predicted type 0f the species  for the test data is','\n',y_test_pred)

The predicted type 0f the species  for the test data is
 [0.69829231 1.86686838 2.16108098 0.91468727 2.84900269 2.42786017
 2.7714971  1.17706667 1.05737643 2.97185548 2.25764165 1.04731024
 2.8939019  2.28941615 2.3716362  1.02277807 2.09757468 2.45955196
 0.97387913 0.85988458 2.29506652 2.50279788 2.48564944 0.94639775
 2.76102557 2.20428688 0.83232053 0.99535805 2.26764385 2.66319295]

In [20]:
print('The Actual value of the species for the test data is ','\n',y_test)

The Actual value of the species for the test data is
 14     1
98     2
75     2
16     1
131    3
56     2
141    3
44     1
29     1
120    3
94     2
5      1
102    3
51     2
78     2
42     1
92     2
66     2
31     1
35     1
90     2
84     2
77     2
40     1
125    3
99     2
33     1
19     1
73     2
146    3
Name: species_converted, dtype: int64

In [21]:
Mae_train=metrics.mean_absolute_error(y_train,y_train_pred)
Mae_test=metrics.mean_absolute_error(y_test,y_test_pred)

print('Mean Absolute error for the Training Dataset =',Mae_train)
print('Mean Absolute Error for the testing Dataset =',Mae_test)

Mean Absolute error for the Training Dataset = 0.16181416715864652
Mean Absolute Error for the testing Dataset = 0.20421913597428962

In [22]:
MSE_train=metrics.mean_squared_error(y_train,y_train_pred)
MSE_test=metrics.mean_squared_error(y_test,y_test_pred)

print('Mean Square error for the Training Dataset =',MSE_train)
print('Mean Square Error for the testing Dataset =',MSE_test)

Mean Square error for the Training Dataset = 0.04435326495790188
Mean Square Error for the testing Dataset = 0.06231447105955288

In [23]:
RMSE_train=np.sqrt(metrics.mean_squared_error(y_train,y_train_pred))
RMSE_test=np.sqrt(metrics.mean_squared_error(y_test,y_test_pred))

print('Mean Square error for the Training Dataset =',RMSE_train)
print('Mean Square Error for the testing Dataset =',RMSE_test)

Mean Square error for the Training Dataset = 0.21060214851207448
Mean Square Error for the testing Dataset = 0.24962866634173425

# Testing

In [24]:
df.loc[98]

sepal_length         5.1
sepal_width          2.5
petal_length         3.0
petal_width          1.1
species_converted    2.0
Name: 98, dtype: float64

In [25]:
d = {'sepal length' : [5.1],
    'sepal width' : [2.5],
    'petal length' : [3.0],
    'petal width' : [1.1],
    'species' : 2}

In [26]:
test_df=pd.DataFrame(data=d)

In [30]:
test_df

   sepal length  sepal width  petal length  petal width  species
0           5.1          2.5           3.0          1.1        2

In [33]:
X=test_df.drop(labels='species',axis=1)
y=test_df['species']

In [35]:
pred=lr.predict(X)

In [36]:
print('The actual Type of the Species is :',2)
print('the Type Predicted by the Model is ',pred[0])

The actual Type of the Species is : 2
the Type Predicted by the Model is  1.8668683802828223

In [39]:
Mae_test_df=metrics.mean_absolute_error(y,pred)
print('mean absolute Eror for the Test DF is :',Mae_test_df)

mean absolute Eror for the Test DF is : 0.13313161971717768

In [40]:
MSE_test_df=metrics.mean_squared_error(y,pred)
print('mean absolute Eror for the Test DF is :',MSE_test_df)

mean absolute Eror for the Test DF is : 0.017724028168519215

In [41]:
RMSE_test_df=np.sqrt(metrics.mean_squared_error(y,pred))
print('mean absolute Eror for the Test DF is :',RMSE_test_df)

mean absolute Eror for the Test DF is : 0.13313161971717768